<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Cangaroo Inventory Management</title>
</head>
<body>

<script>
  $(document).ready(function() {

  // Check for click events on the navbar burger icon
  $(".navbar-burger").click(function() {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");

  });
});
</script>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://cangaroo.herokuapp.com/">
      <img src="/img/cangaroo-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
          <div class="navabr-item">
            <div class="nav-a">
              {{#is userType 'admin'}}
              <a class="navbar-a" href="/admin/products">Products</a>&nbsp;|&nbsp;
              <a class="navbar-a" href="/admin/inventory">Inventory</a>&nbsp;|&nbsp;
              <a class="navbar-a" href="/admin/assists">Assists</a>&nbsp;|&nbsp;
              <a class="navbar-a" href="/admin/donations">Donations</a>&nbsp;|&nbsp;
              {{/is}}
              <a href="/logout">
                Logout
                </a>
              </div>
            </div>
    </div>
  </div>
</nav>
    {{{body}}}
</body>
</html>
