<section class="section">
    <div class="container">
        <h1>Donor Portal</h1>
        <h2>Welcome <span class="member-name"></span></h2>
        <p>As a valued donor, we welcome your contributions.</p>
        <hr>
    </div>

    <div class="container">
      <h3>Inventory List</h3>
      {{#unless inventory}}
      <p>No inventory yet - you need donations first.</p>
      {{/unless}}
      {{#if inventory}}
      <p>Here is a list of inventory currently held.</p>
      <table>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Nutrient Class</th>
          <th>Total Servings</th>
        </tr>
      {{#each inventory}}
        <tr>
          <td>{{this.dataValues.product.dataValues.name}}</td>
          <td>{{this.dataValues.quantity}}</td>
          <td>{{this.dataValues.product.dataValues.nutrient_class}}</td>
          <td>{{this.dataValues.product.dataValues.servings * this.dataValues.quantity}}</td>
        </tr>
      {{/each}}
      </table>
      {{/if}}
    </div>
</section>
<script type="text/javascript" src="/js/members.js"></script>
