<div class="section">
    <div class="container">
        <h1 class="title is-1">Client Portal</h1>
        <h2 class="title is-2">Welcome <span class="member-name subtitle is-4"></span></h2>
        <p>As a valued client, we are here to help you.</p>

        <hr>

        <h3 class="title is-3">New Basket</h3>
        <p>Request a new basket using this form.</p>
        <br>
        <form class="baskets" id="basket-form">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Number in Family</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control is-expanded">
                            <input class="input form-numStep" id="size-input" type="number" placeholder="1" min="1">
                            <button class="basket button" id='request-button'>Request Basket</button>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="UserEmail" name="UserEmail" value="{{UserEmail}}">
        </form>
    </div>
    <hr>
    <div class="container">
      <h3 class="title is-3">Assistance History</h3>
      {{#unless assistance}}
      <p>No assistance has been received yet - you can use the form above to make your first basket.</p>
      {{/unless}}
      {{#if assistance}}
      <h4  class="title is-4">Baskets Received</h4>
      <table class="table is-striped">
          <thead>
            <tr>
                <th>ID</th>
                <th>Creation Date</th>
            </tr>
          </thead>
        {{#each assistance}}
        <tr>
          <td>{{this.dataValues.id}}</td>
          <td>{{this.dataValues.createdAt}}</td>
        </tr>
        {{/each}}
      </table>
      {{/if}}
    </div>
</div>

<script type="text/javascript" src="/js/members.js"></script>
<script type="text/javascript" src="/js/clients.js"></script>