<section class="section">
    <div class="container">
        <h2>Welcome <span class="member-name"></span></h2>
        <p>As a valued donor, </p>
    </div>
</section>
<script type="text/javascript" src="/js/members.js"></script>