<section class="section">
    <div class="container" id="containerLogin"> 
      <h2 class="page-title">Login Form</h2>
        <form class="login">
          <div class="field">
            <label class="label">Email Address:</label>
            <div class="control">
              <input class="input" type="email" id="email-input" placeholder="Email">
            </div>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password" id="password-input" placeholder="Password">
            </div>
          </div>
          <div style="display: none" id="alert" class="notification is-warning is-light">
            <button class="delete"></button>
            <span>Error:</span> <span class="msg"></span>
          </div>

          <button type="submit" class="button is-dark login-btn">Login</button>
        </form>
        <br />
        <p>Or sign up <a href="/signup">here</a></p>
    </div>
  </section>

  <script type="text/javascript" src="js/login.js"></script>
