body, html {
  height: 100%;
}

form.signup,
form.login {
  margin-top: 50px;
}
/*
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow:hidden;
}
*/
.overlay {
  opacity:0.8;
  background-color:#ccc;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.progress-overlay {
  position: fixed;
  top: 33vh;
  width: 66vw;
  left: 17vw;
}

#textLogin{
  background-color: rgba(17, 16, 16, 0.884);
  text-align: center;
  color: cornsilk;
  border: rgb(218, 114, 76) 6px ridge;
  border-radius: 12px;
  padding: 40px;
  font-size: 45px;
  font-family: Arial;
  font-weight: 900;

}

#containerLogin{
  background-color: lightgray;
  padding: 30px;
  margin-top: 20px;
  border-radius: 26px;
}